#navbarbiopedia{
    background-color: rgb(13, 19, 33);
    
  }

  #navtxt1{
    color: rgb(255, 237, 223);
  }
  #navtxt2{
    color: rgb(197, 216, 109);
  }
  #navtxt3{
    color: rgb(175, 224, 206);
  }